*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background:linear-gradient(120deg,white, rgba(61, 45, 119, 0.753));
    padding: 0 10px;
}
.container{
    max-width: 500px;
    width: 100%;
    background-color: white;
    margin: 20px auto;
    padding: 30px;
    box-shadow: 10px 10px 10px black;
}
.container .title{
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 25px;
    color: rgba(61, 45, 119, 0.753);
    text-transform: uppercase;
    text-align: center;
}
.container .form{
    width: 100%;

}
.container .form .input_field{
    margin-bottom: 15px;
    display: flex;
    align-items:center;
}
.container .form .input_field label{
    width: 200px;
    margin-right: 10px;
    font-size: 14px;
}
.container .form .input_field .input,
.container .form .input_field .textarea{
    width: 100%;
    outline: none;
    border: 1px solid rgba(61, 45, 119, 0.753);;
    font-size: 15px;
    padding: 8px 10px;
    border-radius: 3px;
    
}
.container .form .input_field .textarea{
    resize: none;
    height: 70px;
    
}
.container .form .input_field .selectbox{
    position: relative;
    width: 100%;
    height: 40px;
    border: 1px solid rgba(61, 45, 119, 0.753);
    outline: none;
}
.container .form .input_field .btn{
    width: 100%;
    padding: 8px;
    font-size: 15px;
    background: rgba(61, 45, 119, 0.753);;
    color: black;
    cursor: pointer;
    border-radius: 3px;
}
.container .form .input_field .btn:hover{
    background: whitesmoke;
}